<div class= "container-fluid">
<%= form_for(service) do |f| %>
  
  <% if service.errors.any? %>
    <div id="error_explanation" class="my_alert">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group col">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>  
  </div>
  
  <div class="form-group col">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  
  <div class="form-group col">
    <%= f.label :type %>
    <%= f.text_field :kind, class: 'form-control' %>
  </div>

  <div class="form-group col">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="form-group col">
    <%= f.label :url %> 
    <%= f.text_field :url, class: 'form-control' %>
  </div>

  <div class="form-group col"> 
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: 'form-control' %> 
  </div>

  <div class="form-group col">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: 'form-control' %>
  </div>

  <div class="form-group col">
    <%= f.label :street %>
    <%= f.text_field :street, class: 'form-control' %>
  </div>

  <div class="form-group col">
    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group col">
    <%= f.label :state %>
    <%= f.text_field :state, class: 'form-control' %>
  </div>

  <div class="form-group col">
    <%= f.label :zip %>
    <%= f.text_field :zip, class: 'form-control' %>
  </div>
  
  <div class="form-group col">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
 
  <div class="form-group col">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  
<% end %>
</div>


