<p id="notice"><%= notice %></p>
<h1 class="title mt-5 mb-5 display-3" style="text-align: center;">Services</h1>
<div class="table-responsive card mb-5">
    <%# <h1>Services</h1> %>
    <table class="table table-hover">
      <thead>
        <div class="row">
          <tr>
            <%# <th>(t'New Service')</th> %>
            <th class="h2" style="background:none;"><%= t ('Service Name') %></th> 
            <th class="h2" style="background:none;"><%= t ('Description') %></th>
            <th class="h2" style="background:none;"><%= t ('Type') %></th>
            <th class="h2" style="background:none;"><%= t ('Phone') %></th>
            <th class="h2" style="background:none;"><%= t ('Url') %></th>
            <th class="h2" style="background:none;"><%= t ('Picture') %></th>
            <% if admin? || intern? %>
              <th colspan="3" style="background:none;"></th>
            <% else %>
                <th colspan="1"></th>
            <% end %>
          </tr>
        </div>
      </thead>

      <tbody>
        <% @services.each do |service| %>
          <div class="row">
            <tr>
            
              <td><%= service.name %></td>
              <td><%= service.description %></td>
              <td><%= service.kind %></td>
              <td><%= service.phone_number %></td>
              <td><%= service.url %></td>
              <td>
                <figure class="picture is-128x128">
                <% if service.picture.attached? %>
                <%= image_tag(url_for(service.picture), size: 50) %>
                <%# <% else%>
                <%# <%  %>
                <% end %>
                </figure>
              </td>
              <% if admin? || intern? %>
                <td><%= link_to t('show'), service, :class => "btn btn-outline-primary btn-sm" %></td>
                <td><%= link_to t('edit'), edit_service_path(service), :class => "btn btn-outline-primary btn-sm" %></td>
                <td><%= link_to t('delete'), service, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
              <% else %>
                <td><%= link_to t('show'), service, :class => "btn btn-outline-primary btn-sm" %></td>
              <% end %>
            </tr>
          </div>
        <% end %>
      </tbody>
    </table>
    </div>
    <br>

    <% if admin? || intern? %>
      <%= link_to (t'New Service'), new_service_path, :class => "btn btn-primary btn-lg", :style => "margin-left: 14px; color: white" %>
    <% end %>

