<p id="notice"><%= notice %></p>

    <p>
      <strong><%= t ("Service Name")%></strong>
      <%= @service.name %>
    </p>

    <p>
      <strong><%= t ("Description")%></strong>
      <%= @service.description %>
    </p>

    <p>
      <strong><%= t ("Type")%></strong>
      <%= @service.kind %>
    </p>

    <p>
      <strong><%= t ("Phone")%></strong>
      <%= @service.phone_number %>
    </p>

    <p>
      <strong><%= t ("Url")%></strong>
      <%= @service.url %>
    </p>

    <p>
      <strong><%= t ("Picture")%></strong>
          <figure class="picture is-128x128">
          <% if @service.picture.attached? %>
              <%= image_tag(url_for(@service.picture), size: 50) %>  
          <% end %>
          </figure>
    </p> 

    
    <% if admin? || intern? %>
      <%= link_to t('edit'), edit_service_path(@service), :class => "btn btn-primary btn-sm", :style => "color: white" %>
      <%= link_to t('back'), services_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
    <% else %>
      <%= link_to t('back'), services_path, :class => "btn btn-primary btn-sm", :style => "color: white" %> 
    <% end %>

    <%= social_share_button_tag(@service.url)%>
