<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
<div class="col-md-12">
  <h2><strong><%= @service.name %><br></strong></h2>
    <p>
      <strong><%= t ("Description")%></strong><br>
      <%= @service.description %>
    </p>

    <p>
      <strong><%= t ("Type")%></strong>
      <%= @service.kind %><br>
      <strong><%= t ("Phone")%></strong>
      <%= @service.phone_number %><br>
      <strong><%= t ("Url")%></strong>
      <%= link_to @service.url, @service.url%><br>
      <strong><%= t ("Latitude")%></strong>
      <%= @service.latitude %><br>
      <strong><%= t ("Longitude")%></strong>
      <%= @service.longitude %><br>
      <strong><%= t ("Street")%></strong>
      <%= @service.street %><br>
      <strong><%= t ("City")%></strong>
      <%= @service.city %><br>
      <strong><%= t ("State")%></strong>
      <%= @service.state %><br>
      <strong><%= t ("Zip")%></strong>
      <%= @service.zip %><br>
    </p>
    <p>
      <figure class="picture is-128x128">
        <% if @service.picture.attached? %>
          <%= image_tag(url_for(@service.picture), size: 200) %>  
        <% end %>
      </figure>
    </p> 
    <%# Orders for this service %>
    <% if admin? || intern? %>
    <h2 class="title mb-5 display-4" style="text-align:center">Orders</h2>
    <div class="table-responsive card mb-5">
    <table class="table table-hover">
      <thead class="cf">
        <div class="row">
          <tr>
          <strong><th class="h2" style="background:none;"> <%= t ('Cient Name') %></th></strong>
          <strong><th class="h2" style="background:none;"> <%= t ('Service Kind') %></th></strong>
          <strong><th class="h2" style="background:none;"> <%= t ('Order Category') %></th></strong>
          <strong><th class="h2" style="background:none;"> <%= t ('Description') %></th></strong>
          </tr>
        </div>
      </thead>
      <tbody> 
        <tr>
        <% @service.orders.each do |order| %>
          <td><%= order.customer.full_name %></td>
          <td><%= order.service.kind %></td>
          <td><%= order.category.name %></td>
          <td><%= order.description %></td> 
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <% end %>
      <%# Nearby Locations 25m %>
    <h2>Nearby Services (25 miles) </h2>
    <ul>
      <% for location in @service.nearbys(25) %>
        <li>Service: <%= link_to location.name, location %>, Address: <%=location.address%> (<%= location.distance.round(2) %> miles) </li>
      <% end %>
    </ul>

  </div>
  </div>
  
  <div class="container">
     <div style='width: 800px;'>
       <div id="map" style='width: 800px; height: 400px;'></div>
     </div>
     <script type="text/javascript">
       handler = Gmaps.build('Google');
       handler.buildMap({
       provider: {},
       internal: {
        id: 'map'
        }
       }, function () {
          markers = handler.addMarkers(<%=raw @hash.to_json %>);

          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
     </script>
   </div>

    <% if admin? || intern? %>
      <%= link_to t('edit'), edit_service_path(@service), :class => "btn btn-primary btn-sm", :style => "color: white" %>
      <%= link_to t('back'), services_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
    <% else %>
      <%= link_to (t'back'), services_path, :class => "btn btn-primary btn-sm", :style => "color: white" %> 
    <% end %><br><br>

    <%= social_share_button_tag(@service.url)%>
</div>