<p id="notice"><%= notice %></p>

    <p>
      <strong>Service name:</strong>
      <%= @service.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @service.description %>
    </p>

    <p>
      <strong>Type of Service</strong>
      <%= @service.kind %>
    </p>

    <p>
      <strong>Phone Number:</strong>
      <%= @service.phone_number %>
    </p>

    <p>
      <strong>URL:</strong>
      <%= @service.url %>
    </p>

    <p>
      <strong>Picture:</strong>
          <figure class="picture is-128x128">
          <% if @service.picture.attached? %>
              <%= image_tag(url_for(@service.picture), size: 50) %>  
          <% end %>
          </figure>
    </p> 

    <%# <figure class="picture is-128x128">
      <%= image_tag(url_for(@service.picture.attach(params[:picture]))) %>
    <%# </figure> %> 
    <%# property.pictures.first.image.url(:thumb) unless property.pictures.first.nil? %>
    <%# <%= image_tag(url_for(@service.picture)) unless @service.picture.first.nil?%>
    <%# <%= rails_blob_path(service.picture, disposition: "attachment") %> 
    <%# <%= image_tag url_for(projet.images[0].variant(resize: "400x400")) if projet.images.length > 0 %>
    <%# <%= image_tag(url_for(projet.images[0].variant(resize: "400x400")), class:"background") if projet.images.length > 0 %> 

    <% if admin? || intern? %>
      <%= link_to 'Edit', edit_service_path(@service), :class => "btn btn-primary btn-sm", :style => "color: white" %>
      <%= link_to 'Back', services_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
    <% else %>
      <%= link_to 'Back', services_path, :class => "btn btn-primary btn-sm", :style => "color: white" %> 
    <% end %>

    <%= social_share_button_tag(@service.url)%>
