<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
<div class="col-md-12">
  <h2><strong><%= @service.name %><br></strong></h2>
    <p>
      <strong><%= t ("Description")%></strong><br>
      <%= @service.description %>
    </p>

    <p>
      <strong><%= t ("Type")%></strong>
      <%= @service.kind %><br>
      <strong><%= t ("Phone")%></strong>
      <%= @service.phone_number %><br>
      <strong><%= t ("Url")%></strong>
      <%= link_to @service.url, @service.url%><br>
      <strong><%= t ("Latitude")%></strong>
      <%= @service.latitude %><br>
      <strong><%= t ("Longitude")%></strong>
      <%= @service.longitude %><br>
      <strong><%= t ("Street")%></strong>
      <%= @service.street %><br>
      <strong><%= t ("City")%></strong>
      <%= @service.city %><br>
      <strong><%= t ("State")%></strong>
      <%= @service.state %><br>
      <strong><%= t ("Zip")%></strong>
      <%= @service.zip %><br>
    </p>
    <p>
      <figure class="picture is-128x128">
        <% if @service.picture.attached? %>
          <%= image_tag(url_for(@service.picture), size: 200) %>  
        <% end %>
      </figure>
    </p> 
      <%# Nearby Locations 25m %>
    <ul>
      <% for location in @service.nearbys(25) %>
        <li>Service: <%= link_to location.name, location %>, Address: <%=location.address%> (<%= location.distance.round(2) %> miles) </li>
      <% end %>
    </ul>

  </div>
  </div>
  
  <div class="container">
  <h2><strong>Nearby Locations</strong></h2>
     <div style='width: 800px;'>
       <div id="map" style='width: 800px; height: 400px;'></div>
     </div>
     <script type="text/javascript">
       handler = Gmaps.build('Google');
       handler.buildMap({
       provider: {},
       internal: {
        id: 'map'
        }
       }, function () {
          markers = handler.addMarkers(<%=raw @hash.to_json %>);

          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
     </script>
   </div>

    <% if admin? || intern? %>
      <%= link_to t('edit'), edit_service_path(@service), :class => "btn btn-primary btn-sm", :style => "color: white" %>
      <%= link_to t('back'), services_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
    <% else %>
      <%= link_to (t'back'), services_path, :class => "btn btn-primary btn-sm", :style => "color: white" %> 
    <% end %><br><br>

    <%= social_share_button_tag(@service.url)%>
</div>