<p id="notice"><%= notice %></p>

<h1 class="title mt-5 mb-5 display-3" style="text-align: center;">Assignments</h1>
<div class="table-responsive card mb-5">
<div id="no-more-tables">
<table class="table table-hover table-condensed cf">
  <thead class="cf">
    <tr>
      <th class="h2" style="background:none;"> Client</th>
      <th class="h2" style="background:none;">Volunteer</th>
      <th class="h2" style="background:none;">Status</th>
      <th colspan="6" style="background:none;"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.customer.full_name %></td>
        <td><%= assignment.user.email %></td>
        <td><%= assignment.status %></td>
        <td><%= link_to 'Show', assignment, :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Edit',  edit_assignment_path(assignment), :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>