<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>
<div style = "width:400px; heigth:400px">
  <%= video_tag(url_for(@video.clip), style:'width:100%; heigth:auto', controls: '') if @video.clip.attached? %>
</div>
<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<% if admin? || intern? %>
  <%= link_to 'Edit', edit_video_path(@video), :class => "btn btn-primary btn-sm", :style => "color: white" %>
  <%= link_to 'Back', videos_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
<% else %>
  <%= link_to 'Back', videos_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>  
<% end %>

