<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= t ('about.title') %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <!-- Page content -->
  
  <body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">
    <div class="container pt-4">
      <!-- about -->
      <div id="about" class="row">
        <div class="col-lg order-lg-1">
          <p> <%= t ('about.p1') %> </p>
          <p> <%= t ('about.p2') %> </p>
          <p> <%= t ('about.p3') %> </p>
          <img class="mb-4 img-fluid rounded d-none d-sm-block" src="/assets/loveisnotabusive.jpeg" alt="Stages of DV" >
        </div>
        <div class="col-lg order-lg-2">
          <h3 class="mb-4"> <%= t ('about.h3') %></h3>
          <img class="mb-4 img-fluid rounded d-none d-sm-block" src="/assets/loveshoulnothurt.jpg" alt="YOU ARE NOT ALONE" >
          <%# <%= image_tag ('/assets/header-bg.jpg'), class: 'product-image__img' %>
          <p> <%= t ('about.p4') %> </p>
          <p> <%= t ('about.p5') %> </p>
          <p> <%= t ('about.p6') %> </p>
        </div> 
      </div>
    </div>
    <div>
      <p> <%= t ('about.p7') %>
       <a style = none href="https://www.codethedream.org/"> <%= t ('about.p8') %></a>
      <%= t ('about.p9') %>
      </p>
      <ul style="list-style-type: none">
        <li> <%= t ('about.l1') %> </li>
        <li> <%= t ('about.l2') %> </li>
        <li> <%= t ('about.l3') %> </li>
        <li> <%= t ('about.l4') %> </li>
      </ul>
    </div>  
  </body>
 
  <!-- /Page content -->

</html>