<div class="container pt-4">
  <h1 class="title mt-5 mb-5 display-3" style="text-align: center;"><%= t ('health.quizz') %></h1>
</div>
<div class="container">
  <div class="p-3 mb-2 bg-secondary text-dark border border-dark rounded">
    <h6 class="text-white text-center">
      <%= t ('health.description') %>
    </h6>
  </div>
</div>
<div class="container">
  <div class="p-3 mb-2 border border-dark rounded">
    <h6 class="text-black text-center">
    <%= t ('health.word') %>
    </h6>
  </div>
</div>

<%= form_with url: results_path, method: "post", local: true do |form| %>
  <table>
    <thead>
      <tr>
        <th><%= t ('health.general') %></th>
        <th><%= t ('health.Yes') %></th>
        <th>No</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= t ('health.q1') %></td>
        <td>
          <input name="x1" type="radio" value="yes">
        </td>
        <td>
          <input name="x1" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q2') %></td>
        <td>
          <input name="x2" type="radio" value="yes">
        </td>
        <td>
          <input name="x2" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q3') %></td>
        <td>
          <input name="x3" type="radio" value="yes">
        </td>
        <td>
          <input name="x3" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q4') %></td>
        <td>
          <input name="x4" type="radio" value="yes">
        </td>
        <td>
          <input name="x4" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q5') %></td>
        <td>
          <input name="x5" type="radio" value="yes">
        </td>
        <td>
          <input name="x5" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q6') %></td>
        <td>
          <input name="x6" type="radio" value="yes">
        </td>
        <td>
          <input name="x6" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q7') %></td>
        <td>
          <input name="x7" type="radio" value="yes">
        </td>
        <td>
          <input name="x7" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q8') %></td>
        <td>
          <input name="x8" type="radio" value="yes">
        </td>
        <td>
          <input name="x8" type="radio" value="no">
        </td>
      </tr>
    
      <tr>
        <td><%= t ('health.q9') %></td>
        <td>
          <input name="x9" type="radio" value="yes">
        </td>
        <td>
          <input name="x9" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q10') %></td>
        <td>
          <input name="x10" type="radio" value="yes">
        </td>
        <td>
          <input name="x10" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q11') %></td>
        <td>
          <input name="x11" type="radio" value="yes">
        </td>
        <td>
          <input name="x11" type="radio" value="no">
        </td>
      </tr>
    
      <tr>
        <td><%= t ('health.q12') %></td>
        <td>
          <input name="x12" type="radio" value="yes">
        </td>
        <td>
          <input name="x12" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q13') %></td>
          <td>
          <input name="x13" type="radio" value="yes">
        </td>
        <td>
          <input name="x13" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q14') %></td>
        <td>
          <input name="x14" type="radio" value="yes">
        </td>
        <td>
          <input name="x14" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q15') %></td>
        <td>
          <input name="x15" type="radio" value="yes">
        </td>
        <td>
          <input name="x15" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q16') %></td>
        <td>
          <input name="x16" type="radio" value="yes">
        </td>
        <td>
          <input name="x16" type="radio" value="no">
        </td>
      </tr>
    
      <tr>
        <td><%= t ('health.q17') %></td>
        <td>
          <input name="x17" type="radio" value="yes">
        </td>
        <td>
          <input name="x17" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q18') %></td>
        <td>
          <input name="x18" type="radio" value="yes">
        </td>
        <td>
          <input name="x18" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q19') %></td>
        <td>
          <input name="x19" type="radio" value="yes">
        </td>
        <td>
          <input name="x19" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q20') %></td>
        <td>
          <input name="x20" type="radio" value="yes">
        </td>
        <td>
          <input name="x20" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q21') %></td>
        <td>
          <input name="x21" type="radio" value="yes">
        </td>
        <td>
          <input name="x21" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q22') %></td>
        <td>
          <input name="x22" type="radio" value="yes">
        </td>
        <td>
          <input name="x22" type="radio" value="no">
        </td>
      </tr>
    
      <tr>
        <td><%= t ('health.q23') %></td>
        <td>
          <input name="x23" type="radio" value="yes">
        </td>
        <td>
          <input name="x23" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q24') %></td>
        <td>
          <input name="x24" type="radio" value="yes">
        </td>
        <td>
          <input name="x24" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q25') %></td>
        <td>
          <input name="x25" type="radio" value="yes">
        </td>
        <td>
          <input name="x25" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td><%= t ('health.q26') %></td>
        <td>
          <input name="x26" type="radio" value="yes">
        </td>
        <td>
          <input name="x26" type="radio" value="no">
        </td>
      </tr>
    </tbody>
  </table>
  <br>
    <button type="submit"><%= (t'health.Submit') %></button>
 
<% end %>
<div>
  <br>
  <p><%= t ('health.develop') %> <a target="_blank" class="link" href = "https://www.wadvocates.org/wp-content/uploads/2020/06/are-you-in-a-healthy-relationship-quiz.pdf"><%= t ('health.WA') %></p>
</div>


