<div>
    <h1 class="title mt-5 mb-5 display-3" style="text-align: center;">Scoring</h1>
</div>

<div class="container">
    <div class="p-3 mb-2 bg-secondary text-dark border border-dark rounded">
        <p class="text-white">
          <%= t ('result.score') %>
        </p>
    </div>
</div>

<div class="container">
    <% if health_result %>
        <h6><%= flash[:notice] %> </h6>
        <% #= button_to 'Finish the Quiz', home_health_path, :method => "get"%>
        <button type="button" id="goback"><%= t ('result.finish') %></button>
    <% else %>
    <div class="alert text-center border border-dark rounded">
        <h6 class="text-dark"><%= t ('result.h6a') %> <%= @correct_answer %> <%= t ('result.h6b') %></h6>
    </div>    
        <button type="button" id="goback"> <%= t ('result.back') %></button>
    <% end %><br>
</div><br>

<div class="container">
    <div class="alert alert-success rounded">
        <p class="btn btn-xs btn-success pull-right"> <%= t ('result.zero') %></p>
        <p>
            <%= t ('result.success') %>

        </p>
    </div>

    <div class="alert alert-info">
        <p class="btn btn-xs btn-info pull-right"> <%= t ('result.one') %></p>
        <p>
            <%= t ('result.info') %>
            
        </p>
    </div>

    <div class="alert alert-warning">
        <p class="btn btn-xs btn-warning pull-right"> <%= t ('result.three') %></p>
        <p> 
            <%= t ('result.warning') %>
            
        </p>
    </div>
    <div class="alert alert-danger">
        <p class="btn btn-xs btn-danger pull-right"> <%= t ('result.five') %></p>
        <p>  
            <%= t ('result.danger') %>

            <a href="https://www.loveisrespect.org/" target="_blank" class="link"><%= t ('result.love') %></a>
        </p>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const goback=document.getElementById('goback');
    goback.addEventListener('click', (event2) => {
      window.history.go(-1);
    });
  });
</script>