<p id="notice"><%= notice %></p>

<h1 class="title mt-5 mb-5 display-3" style="text-align:center">Clients</h1>
<div class="table-responsive card mb-5">
<table class="table table-hover">
  <thead>
    <tr>
      <th class="h2" style="background:none;">Name</th>
      <th class="h2" style="background:none;">Phone</th>
      <th class="h2" style="background:none;">Email</th>
      <th class="h2" style="background:none;">Street</th>
      <th class="h2" style="background:none;">City</th>
      <th class="h2" style="background:none;">State</th>
      <th class="h2" style="background:none;">Zip</th>
      <th colspan="12" style="background:none;"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.full_name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.street %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip %></td>
        <td><%= link_to 'Show', customer, :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'New Client Assignment', new_customer_assignment_path(customer.id), :class => "btn btn-outline-primary btn-sm"  %></td>
        <td><%= link_to 'New Client Order', new_customer_order_path(customer.id), :class => "btn btn-outline-primary btn-sm"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Client', new_customer_path, :class => "btn btn-primary btn-lg", :style => "margin-left: 14px; color: white" %>
<br><br>


