<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<table class="table table-hover">
<% @customer.orders.each do |order| %>
<tr>
<td><%= order.description %></td>
<td><%= order.service.name %></td>
<td><%= link_to 'Show', customer_order_path(@customer.id, order.id) %></td>
<td><%= link_to 'Edit', edit_customer_order_path(@customer.id, order.id) %></td>
<td><%= link_to 'Destroy', customer_order_path(@customer.id, order.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>  
