<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= @customer.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip%>
</p>

<h2><Orders</h2>
<table class="table table-hover">
<% @customer.orders.each do |order| %>
<tr>
<td><%= order.description %></td>
<td><%= order.service.name %></td>
<td><%= link_to (t'show'), customer_order_path(@customer.id, order.id) %></td>
<td><%= link_to (t'edit'), edit_customer_order_path(@customer.id, order.id) %></td>
<td><%= link_to (t'destroy'), customer_order_path(@customer.id, order.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table> 

<h2>Assignments</h2>
<table class="table table-hover">
<% @customer.assignments.each do |assignment| %>
<tr>
<td><%= assignment.user.email %></td>
<td><%= assignment.status %></td>
<td><%= link_to 'Show', assignment %></td>
<td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
<td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table> 
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to (t'customer.back'), customers_path %>
