<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= @customer.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip%>
</p>

<h2 class="title mt-5 mb-5 display-4" style="text-align:center">Orders</h2>
<div class="table-responsive card mb-5">
<table class="table table-hover">
<% @customer.orders.each do |order| %>
<tr>
<td><%= order.description %></td>
<td><%= order.service.name %></td>
<td><%= link_to (t'show'), customer_order_path(@customer.id, order.id), :class => "btn btn-outline-primary btn-sm" %></td>
<td><%= link_to (t'edit'), edit_customer_order_path(@customer.id, order.id), :class => "btn btn-outline-primary btn-sm" %></td>
<td><%= link_to (t'delete'), customer_order_path(@customer.id, order.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
</tr>
<% end %>
</table>
</div> 

<h2 class="title mt-5 mb-5 display-4" style="text-align:center">Assignments</h2>
<div class="table-responsive card mb-5">
<table class="table table-hover">
<% @customer.assignments.each do |assignment| %>
<tr>
<td><%= assignment.user.email %></td>
<td><%= assignment.status %></td>
<td><%= link_to 'Show', assignment, :class => "btn btn-outline-primary btn-sm" %></td>
<td><%= link_to 'Edit', edit_assignment_path(assignment), :class => "btn btn-outline-primary btn-sm" %></td>
<td><%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
</tr>
<% end %>
</table> 
</div>

<%= link_to 'Edit', edit_customer_path(@customer), :class => "btn btn-primary btn-sm", :style => "color: white" %>
<%= link_to (t'customer.back'), customers_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
