<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <address>
                <h2><strong><%= @customer.first_name %></strong></h2>
                <h2><strong><%= @customer.last_name %></strong></h2>
                <%= @customer.street %><br>
                <%=  @customer.city %>
                <%=  @customer.state %>
                <%=  @customer.zip %><br>
                <strong>Phone</strong>
                <%=  @customer.phone %><br>
                <strong>Email</strong>
                <a href="mailto:#"><%=  @customer.email %></a>
            </address>
        </div>
    </div>
</div>
<h2 class="title mb-5 display-4" style="text-align:center">Orders</h2>
<div class="table-responsive card mb-5">
    <table class="table table-hover">
        <% @customer.orders.each do |order| %>
        <tr>
            <% if current_user.role.include?("administrator") || current_user.role.include?("intern")%>    
                <td><%= order.description %></td>
                <td><%= order.service.name %></td>
                <td><%= link_to (t'show'), order, :class => "btn btn-outline-primary btn-sm" %></td>
                <td><%= link_to (t'edit'), edit_order_path(order), :class => "btn btn-outline-primary btn-sm" %></td>
                <td><%= link_to (t'delete'), order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
            <% end %>
            <% if current_user.role.include?("volunteer") %>
                <td><%= order.description %></td>
                <td><%= order.service.name %></td>
                <td><%= link_to (t'show'), order, :class => "btn btn-outline-primary btn-sm" %></td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div> 
<h2 class="title mt-5 mb-5 display-4" style="text-align:center">Assignments</h2>
<div class="table-responsive card mb-5">
    <table class="table table-hover">
        <% @customer.assignments.each do |assignment| %>
        <tr>
            <% if current_user.role.include?("administrator") || current_user.role.include?("intern")%>
                <td><%= assignment.user.email %></td>
                <td><%= assignment.status %></td>
                <td><%= link_to 'Show', assignment, :class => "btn btn-outline-primary btn-sm" %></td>
                <td><%= link_to 'Edit', edit_assignment_path(assignment), :class => "btn btn-outline-primary btn-sm" %></td>
                <td><%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
            <% end %>
            <% if current_user.role.include?("volunteer") %>
                <td><%= assignment.user.email %></td>
                <td><%= assignment.status %></td>
                <td><%= link_to 'Show', assignment, :class => "btn btn-outline-primary btn-sm" %></td>
            <% end %>
        </tr>
        <% end %>
    </table> 
</div>

<% if current_user.role.include?("administrator") || current_user.role.include?("intern")%>
    <%= link_to 'Edit', edit_customer_path(@customer), :class => "btn btn-primary btn-sm", :style => "color: white" %>
    <%= link_to (t'customer.back'), customers_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
<% end %>
<% if current_user.role.include?("volunteer") %>
    <%= link_to (t'customer.back'), customers_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
<% end %>