<div class= "container-fluid">
<%= form_for([@customer,@order]) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="my_alert">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group col">
  <%= f.label :services %>
  <%= f.collection_select :service_id, Service.all, :id, :name, include_blank: true, class: 'form-control' %>
  </div>
  
  <div class="form-group col">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>