<p id="notice"><%= notice %></p>

<h1 class="title mt-5 mb-5 display-3" style="text-align: center;">Orders</h1>
<div class="table-responsive card mb-5">
<table class="table table-hover">
  <thead>
    <tr>
    <th class="h2" style="background:none;"> Service Name</th>
      <th class="h2" style="background:none;"> Kind of Service</th>
      <th class="h2" style="background:none;"> Description</th>
      <%# <%= f.select :category, [ 'legal', 'shelter', 'counseling' ], :prompt => 'Select One' %> 
      <%# <%= f.select :category, :prompt => 'Select One' %> 
      <th colspan="3" style="background:none;"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.service.name %></td>
        <td><%= order.service.kind %></td>
        <td><%= order.description %></td>
        <td><%= link_to 'Show', customer_order_path(@customer,order), :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_customer_order_path(@customer,order), :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Delete', [@customer,order], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Order', new_customer_order_path, :class => "btn btn-primary btn-lg", :style => "margin-left: 14px; color: white"  %>
<%# @order.id
customer_order 
customer_order_path(@customer.id, order.id)
customer_orders_path(@customer.id) current
customers_path 
<%# edit_order_path(order) %>
<%# edit_customer_order_path(@customer.id, order.id) %>
<%# <%= link_to 'Edit', edit_customer_order_path(@customer.id, order.id), :class => "btn btn-outline-primary btn-sm" %>