<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th> Description</th>
      <!--<th>First name</th>
      <th>Last name</th>-->
      <th colspan="3"></th>
    </tr>

  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.service.name %></td>
        <td><%= order.description %></td>
        <td><%= link_to 'Show', customer_order_path(@customer,order) %></td>
        <td><%= link_to 'Edit', edit_customer_order_path(@customer,order) %></td>
        <td><%= link_to 'Destroy', [@customer,order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Order', new_customer_order_path %>
<%# @order.id
customer_order 
customer_order_path(@customer.id, order.id)
customer_orders_path(@customer.id) current
customers_path 
<%# edit_order_path(order) %>
<%# edit_customer_order_path(@customer.id, order.id) %>
<%# <%= link_to 'Edit', edit_customer_order_path(@customer.id, order.id) %> %>

