<p id="notice"><%= notice %></p>

<h1 class="title mt-5 mb-5 display-3" style="text-align: center;"><%= t ("orders")%></h1>
<div class="table-responsive card mb-5">
<table class="table table-hover">
  <thead>
    <tr>
      <th class="h2" style="background:none;"> <%= t ('Client') %></th>
      <th class="h2" style="background:none;"> <%= t ('Service') %></th>
      <th class="h2" style="background:none;"> <%= t ('Kind of Service') %></th>
      <th class="h2" style="background:none;"> <%= t ('Category') %></th>
      <th class="h2" style="background:none;"> <%= t ('Description') %></th>
      <th colspan="3" style="background:none;"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer.full_name %></td>
        <td><%= order.service.name %></td>
        <td><%= order.service.kind %></td>
        <td><%= order.category.name %></td>
        <td><%= order.description %></td>
        <td><%= link_to t('show'), order, :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to t('edit'), edit_order_path(order), :class => "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to t('delete'), order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to t('new_order'), new_order_path, :class => "btn btn-primary btn-lg", :style => "margin-left: 14px; color: white"  %>


