<p id="notice"><%= notice %></p>

    <p>
      <strong>Category Name</strong>
      <%= @category.name %>
    </p>

    <p>
      <strong>Description</strong>
      <%= @category.description %>
    </p>
    
    <% if current_user.role.include?("administrator") || current_user.role.include?("intern") %>
      <%= link_to 'edit', edit_category_path(@category), :class => "btn btn-primary btn-sm", :style => "color: white" %>
      <%= link_to 'back', categories_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
    <% else %>
      <%= link_to 'back', categories_path, :class => "btn btn-primary btn-sm", :style => "color: white" %> 
    <% end %>

   
