<!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
     <div class="container">
    		<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
    		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
            <li class="nav-item">
              <a><%= link_to 'Home', home_index_path, class: 'nav-link' %></a>
            </li>
            <li class="nav-item">
              <a><%= link_to 'About', home_about_path, class: 'nav-link' %></a>
            </li>
            <li class="nav-item">
              <a><%= link_to 'Services', services_path, class: 'nav-link' %></a>
            </li>
            <li class="nav-item">
              <a><%= link_to 'Clients', customers_path, class: 'nav-link' %></a>
            </li>
            <li class="nav-item">
              <a><%= link_to 'Orders', orders_path, class: 'nav-link' %></a>
            </li>
            <li class="nav-item">
              <a><%= link_to 'Videos', videos_path, class: 'nav-link' %></a>
            </li>
            <li class="nav-item">
                <a><%= link_to 'Assignments', assignments_index_path, class: 'nav-link' %></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Help
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://baylegal.org/what-we-do/safety/domestic-violence-prevention/">Domestic Violence Legal Clinic</a>
                <a class="dropdown-item" href="https://sfmohcd.org/resources-domestic-violence-survivors">Shelter for Domestic Violence Survivors</a>
                <a class="dropdown-item" href="https://www.napanews.org/">Sexual Assault & Domestic Violence</a>
                <a class="dropdown-item" href="https://kara-grief.org/">Coping with Grief</a>
                <a class="dropdown-item" href="https://www.samhsa.gov/find-help/national-helpline">Substance Abuse Help</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="http://www.bascia.org/">Bay Area Suicide and Crisis Intervention </a>
              </div>
            </li>
            <li class="nav-item">
                <a class="disabled"><%= link_to 'Questionar', home_index_path, class: 'nav-link' %></a>
            </li>
            <li class="nav-item">
                <a class="disabled"><%= link_to 'Contact us', home_index_path, class: 'nav-link  text-nowrap' %></a>
            </li>
        		<% if user_signed_in? %>
                  <a class="disabled"><%= current_user.email %>  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link text-nowrap' %></a>
                <% else %>
                  <a class="disabled"><%= link_to "Sing In", new_user_session_path, class: 'nav-link text-nowrap' %></a>
            <% end %>
          </ul>
        </div>
      </div>
    </nav><!-- /navbar -->

  <!-- jumbotron -->
  <div class="jumbotron fondo jumbotron-fluid bg-info text-light-green"><!--class="jumbotron jumbotron-fluid bg-info text-white"-->
    <div class="container text-sm-center pt-5">
    </div>
  </div><!-- /jumbotron -->

<div class="container text-sm-center" role="group" aria-label="Callout buttons">
  <a class="btn btn-dark btn-lg" href="tel:911">Emergency(911)</a>
  <a class="btn btn-dark btn-lg" href="https://www.thehotline.org/">Link to National Domestic Violence Link</a>
</div>
 <!-- /navbar -->
