<!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bd-navbar fixed-top">
     <div class="container">
    		<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
    		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
            <li class='nav-item'>
              <%= link_to home_index_path, class: 'nav-link'  do %>
                <%= t('nav_links.home') %>
              <% end %>
            </li>
            <li class='nav-item'>
              <%= link_to home_about_path, class: 'nav-link'  do %>
                <%= t('nav_links.about') %>
              <% end %>
            </li>
            <li class='nav-item'>
              <%= link_to services_path, class: 'nav-link'  do %>
                <%= t('nav_links.services') %>
              <% end %>
            </li>
            <li class='nav-item'>
              <%= link_to customers_path, class: 'nav-link'  do %>
                <%= t('nav_links.customers') %>
              <% end %>
            </li>
            <li class='nav-item'>
              <%= link_to orders_path, class: 'nav-link'  do %>
                <%= t('nav_links.orders') %>
              <% end %>
            </li>
    			  <li class='nav-item'>
              <%= link_to videos_path, class: 'nav-link'  do %>
                <%= t('nav_links.videos') %>
              <% end %>
            </li>
            <li class="nav-item">
                <%= link_to 'Assignments', assignments_index_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t ('other') %>
                <%# Other Help %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://suicidepreventionlifeline.org/"><%= t ('suicide') %></a>
                <a class="dropdown-item" href="https://baylegal.org/what-we-do/safety/domestic-violence-prevention/"><%= t ('clinic') %></a>
                <a class="dropdown-item" href="https://sfmohcd.org/resources-domestic-violence-survivors"><%= t ('shelter') %></a>
                <a class="dropdown-item" href="https://www.napanews.org/"><%= t ('sexual') %></a>
                <a class="dropdown-item" href="https://kara-grief.org/"><%= t ('grief') %></a>
                <a class="dropdown-item" href="https://www.samhsa.gov/find-help/national-helpline"><%= t ('substance') %></a>
              </div>
            </li>
            <%# <li class="nav-item">
                <a class="disabled"><%= link_to 'Questionnaire', home_health_path, class: 'nav-link' %>
                <%# </a> %>
            <%# </li>  %>
            <li class='nav-item'>
              <%= link_to home_health_path, class: 'nav-link'  do %>
                <%= t('nav_links.quizzes') %>
              <% end %>
            </li>

            <li class="nav-item">
                <%= link_to home_index_path, class: 'nav-link  text-nowrap' do %>
                <%= t('connect') %>
                <% end %>
            </li>

            <li>
              <%= link_to_unless_current "English", locale: "en" %>
            </li>
            <li >
              <%= link_to_unless_current "Spanish", locale: "es" %>
            </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-md-auto">
        <li><% if user_signed_in? %>
              <a class="disabled"><%= current_user.email %>  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link text-nowrap' %></a>
            <%# (t'log_out') %>
        </li>
        <li>
                <% else %>
                  <a class="disabled"><%= link_to 'Sign In', new_user_session_path, class: 'nav-link text-nowrap' %></a>
                <%# (t'log_in') %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav><!-- /navbar -->

<div class="container text-sm-center" role="group" aria-label="Callout buttons">
  <a class="btn btn-dark btn-lg" href="tel:911"><%= t ("emergencia")%> </a>
  <a class="btn btn-dark btn-lg" href=<%= t ("urlhotline")%>><%= t ("hotline")%> </a>

</div>
 <!-- /navbar -->
